<div class="banner-bottom">
    <div class="container">
        <div class="inner_sec_info_agileits_w3">
            <h3 class="heading-agileinfo">Welcome Admin<span>Skin, Nails, and Beauty Services</span></h3>
            <div class="container-fluid">
                <div class="row g-3 mt-5 justify-content-center">
                    <!-- First Row -->
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-3 mt-3" style="max-width: 18rem;">
                            <div class="card-header text-center"><strong>Total Category</strong></div>
                            <div class="card-body">
                                <h1 class="card-title text-center text-white"><strong>{{ totalCategories }}</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3 mt-3" style="max-width: 18rem;">
                            <div class="card-header text-center"><strong>Total Services</strong></div>
                            <div class="card-body">
                                <h1 class="card-title text-center text-white"><strong>{{ totalProducts }}</strong></h1>
                            </div>
                        </div>
                    </div>

                    <!-- Second Row -->
                    <div class="col-md-4">
                        <div class="card text-white bg-success mb-3 mt-3" style="max-width: 18rem;">
                            <div class="card-header text-center"><strong>Total Experts</strong></div>
                            <div class="card-body">
                                <h1 class="card-title text-center text-white"><strong>{{ totalExperts }}</strong></h1>
                            </div>
                        </div>
                    </div>

                    <!-- Third Row -->
                    <div class="col-md-2 mt-5">
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="card text-white bg-info mb-3 mt-3" style="max-width: 18rem;">
                            <div class="card-header text-center"><strong>Total Users</strong></div>
                            <div class="card-body">
                                <h1 class="card-title text-center text-white"><strong>{{ totalUsers }}</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="card text-white bg-warning mb-3 mt-3" style="max-width: 18rem;">
                            <div class="card-header text-center"><strong>Total Bookings</strong></div>
                            <div class="card-body">
                                <h1 class="card-title text-center text-white"><strong>{{ totalBookings }}</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
