<section id="register" class="register sections-bg">
    <div class="container-fluid my-1">
      <div class="row">
        <div class="col-md-10 mx-auto my-1  rounded-3">
          <!--heading-->
          <div class="mx-auto mt-2 fw-bolder">
            <h1 style="text-align: center;color: rgb(0, 0, 0);">Welcome Admin</h1>
              <hr class="hell mx-auto">
          </div>
          <div class="row g-3 mt-5 justify-content-center">
                  <!-- First Row -->
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Events</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalEvents }}</strong></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-danger mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Ticket Types</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalTicType}}</strong></h1>
                    </div>
                </div>
            </div>

            <!-- Second Row -->
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Tickets</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalTickets }}</strong></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card text-white bg-secondary mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total User</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalUsers }}</strong></h1>
                    </div>
                </div>
            </div>

            <!-- Third Row -->
            
            <div class="col-md-4 mt-5">
                <div class="card text-white bg-warning mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Bookings</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalBookings }}</strong></h1>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>