<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>"Bringing Dreams to Life, One Ticket Click Away"</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>"Your Pass to Unforgettable Experiences"</h3>
          <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
          <p>Where the world of entertainment unfolds at your fingertips!
          
            At TicketVista, we believe that every day should be an extraordinary day, filled with excitement, laughter, and unforgettable memories. That's why we've curated an exceptional collection of events from around the world, all in one place, just for you.
            
            From the pulsating beats of live concerts to the drama and emotion of theater, the adrenaline rush of sports, and the magic of cultural festivals, our platform is your gateway to a world of entertainment wonders.
            
            Whether you're a seasoned event-goer or new to the scene, we're here to make your journey effortless. With a few clicks, you can secure your tickets, plan your night out, and immerse yourself in the magic of live performances.
            
            Join us in celebrating the art of entertainment, the joy of togetherness, and the thrill of experiencing something new. Your adventure begins here.
            
            Start exploring, start discovering, start living—welcome to TicketVista.</p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              At TicketVista, we are more than just a ticket booking platform – we are passionate about connecting people to the experiences that enrich their lives. Our journey began with a simple belief: that everyone should have access to the world's most captivating events, and that booking tickets should be a seamless and enjoyable experience.
            </p>

            <div class="position-relative mt-4">
              <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>