<div class="banner-bottom">
    <div class="container">
        <div class="inner_sec_info_agileits_w3">
            <h3 class="heading-agileinfo">Add Category<span>Skin,Nails and Beauty Services</span></h3>
            <div class="contact-form">
                <div class="tab-content">
                    <div class="tab-pane active" id="Login">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-1"><label>Category Name</label></div>
                                    <div class="col-md-7">
                                        <input class="form-control" placeholder="Enter Category Name"
                                            name="categoryName" #categoryName [(ngModel)]="form.categoryName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-1"><label>Thumbnail</label></div>
                                    <div class="col-md-7">
                                        <input class="form-control" (change)="selectFile($event)" placeholder="Upload Thumbnail" type="file"
                                            name="fileName" #fileName [(ngModel)]="form.fileName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-danger my-3 mx-auto d-block"
                                            (click)="submit()"
                                            [disabled]="!form.categoryName || !selectedFiles">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>