<section id="register" class="register sections-bg">
    <div class="container-fluid my-1">
      <div class="row">
        <div class="col-md-6 mx-auto my-1  rounded-3">
          <!--heading-->
          <div class="mx-auto mt-2 fw-bolder">
            <h1 style="text-align: center;color: rgb(0, 0, 0);">Update Event</h1>
              <hr class="hell mx-auto">
          </div>
          <!--heading end-->
          <!--form-->
          <form>
            <div class="row mt-5 fw-bolder">
  
              <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label text-black h6">Event Name</label>
                <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1" name="eventName" placeholder="Enter Your Name" #eventName [(ngModel)]="currentEvent.eventName" required>
              </div>
  
              <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label text-black h6">Thumbnail</label>
                <input type="file" class="form-control rounded-pill" id="exampleFormControlInput1" name="image" placeholder="Upload Image" (change)="selectFile($event)" #image [(ngModel)]="currentEvent.image" required>
              </div>
  
            </div>
            <div class="mb-3 mt-2">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Event Date</label>
              <input type="date" class="form-control rounded-pill" id="exampleFormControlInput1" name="contact"
                placeholder="Enter Event Date" #eventDate [(ngModel)]="currentEvent.eventDate" required>
            </div>
            <div class="mb-3 mt-3" style="border-top-left-radius: 700px;">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Event Description</label>
              <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1" name="eventDescription"
                placeholder=" Enter About Event" #eventDescription [(ngModel)]="currentEvent.eventDescription" required>
            </div>
  
            <div class="mb-3 mt-3" style="border-top-left-radius: 700px;">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Event Location</label>
              <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1" name="eventLocation"
                placeholder="Enter Location " #eventLocation [(ngModel)]="currentEvent.eventLocation" required>
            </div>
            <div class="d-grid gap-2 col-2 mx-auto">
              <button class="btn btn-primary fw-bolder" type="submit" (click)="submit()" [disabled]="!currentEvent.eventName ||!currentEvent.eventDescription || !currentEvent.eventLocation">Add</button>
            </div>
          </form>
        </div>
    </div>
    </div>
    </section>