<section id="register" class="register sections-bg">
    <div class="container-fluid my-1">
      <div class="row">
        <div class="col-md-6 mx-auto my-1  rounded-3">
          <!--heading-->
          <div class="mx-auto mt-2 fw-bolder">
            <h1 style="text-align: center;color: rgb(0, 0, 0);">Login</h1>
              <hr class="hell mx-auto">
          </div>
          <!--heading end-->
          <!--form-->
          <form>
            <div class="mb-3 mt-2">
                <label for="exampleFormControlInput1" class="form-label text-black h6">Email</label>
                <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1" name="email" placeholder="Enter Your Email" #email [(ngModel)]="form.email" required>
              </div>
            <div class="mb-3 mt-2">
                <label for="exampleFormControlInput1" class="form-label text-black h6">Password</label>
                <input type="password" class="form-control rounded-pill" id="exampleFormControlInput1" name="password" placeholder="Enter Your Password" #password [(ngModel)]="form.password" required>
              </div>
           
            <div class="d-grid gap-2 col-md-6 mx-auto">
                <div class="row">
                    <div class="d-grid gap-2 col-md-4 mx-auto">
                    <button class="btn btn-primary fw-bolder" type="submit" (click)="submit()">Login</button>
                    </div>
                </div>
              <button class="btn btn-primary fw-bolder" type="submit" (click)="googlesubmit()">Login with Google</button>
            </div>
          </form>
  
          <div class="mx-auto mt-2 pb-4 fw-lighter">
            <h6 style="text-align:center;font-weight: lighter; color: rgb(0, 0, 0);">Don't have an account?&nbsp;<a
                routerLink="/layout/register"><b>Register</b></a></h6>
          </div>