<section id="register" class="register sections-bg">
    <div class="container-fluid my-1">
      <div class="row">
        <div class="col-md-6 mx-auto my-1  rounded-3">
          <!--heading-->
          <div class="mx-auto mt-2 fw-bolder">
            <h1 style="text-align: center;color: rgb(0, 0, 0);">Book Ticket</h1>
              <hr class="hell mx-auto">
          </div>
          <!--heading end-->
          <!--form-->
          <form class="bg-white px-5 pt-1 pb-5 rounded-3">

            <div class="mb-3 mt-2">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Name</label>
              <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1"
                placeholder="name@example.com" name="userName" #userName [(ngModel)]="form.userName" readonly>
            </div>
  
  
            <div class="mb-3 mt-2">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Ticket Code</label>
              <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1"
                placeholder="Ticket Code"  name="ticketCode" #ticketCode [(ngModel)]="form.ticketCode" readonly>
            </div>
            <div class="mb-3 mt-3" style="border-top-left-radius: 700px;">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Event Name</label>
              <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1"
                placeholder=" Enter Password"  name="eventName" #eventName [(ngModel)]="form.eventName" readonly>
            </div>
  
            <div class="mb-3 mt-3" style="border-top-left-radius: 700px;">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Price</label>
              <input type="number" class="form-control rounded-pill" id="exampleFormControlInput1"
                placeholder="Price" name="price"  #price [(ngModel)]="form.price"   readonly>
            </div>
            <div class="mb-3 mt-3" style="border-top-left-radius: 700px;">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Event Date</label>
              <input  class="form-control rounded-pill" id="exampleFormControlInput1"
              placeholder="Enter Date" type="date" name="eventDate"
              #eventDate [(ngModel)]="form.eventDate">
            </div>
            <div class="mb-3 mt-3" style="border-top-left-radius: 700px;">
              <label for="exampleFormControlInput1" class="form-label text-black h6">Booking Date</label>
              <input  class="form-control rounded-pill" id="exampleFormControlInput1"
              placeholder="Enter Date" type="date" name="bookingDate"
              #bookingDate [(ngModel)]="form.bookingDate">
            </div>
            <hr>
            <div class="d-grid gap-2 col-5 mx-auto">
              <button class="btn btn-primary fw-bolder rounded-3" [disabled]="!form.userName ||!form.eventName || !form.ticketCode || !form.price " (click)="submit()">Book</button>
  
            </div>
  
          </form>
  
        </div>
    </div>
    </div>
    </section>