<section id="register" class="register sections-bg">
    <div class="container-fluid my-1">
      <div class="row">
        <div class="col-md-11 mx-auto my-1  rounded-3">
          <!--heading-->
          <div class="mx-auto mt-2 fw-bolder">
            <h1 style="text-align: center;color: rgb(0, 0, 0);">Manage Ticket</h1>
              <hr class="hell mx-auto">
          </div>
          <div class="row d-flex">
            <div class="col-md-12 mx-auto table-responsive justify-content-center">
                <table class="table table-light table-bordered table-striped text-black ">
                    <thead class="table-dark text-white">
                        <tr>
                            <th>Sr.no.</th>
                            <th>Ticket Code </th>
                            <th>Event Deatils </th>
                            <th>Ticket Type</th>
                            <th>Ticket Name</th>
                            <th>Price</th>
                            <th>Ticket Descrtiption</th>
                            <th>Total Tickets</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of services; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ data.ticketCode }}</td>
                            <td>{{ data.eventName }}<br>{{data.eventDate}}<br>{{data.eventLocation}}<br>{{data.eventDescription}}</td>
                            <td>{{ data.ticketType }}</td>
                            <td>{{ data.ticketName }}</td>
                            <td>{{ data.price | currency:"INR"}}</td>
                            <td>{{ data.ticketDescription }}</td>
                            <td>{{ data.totalTickets }}</td>
                            <td>
                                <span
                                    [ngClass]="{'status-enable': data.status === 'enable', 'status-disable': data.status === 'disable'}">{{
                                    data.status }}</span>
                            </td>
                            <td class="a1" align="center">
                                <a class="btn2 " style="color: blue;"
                                    [routerLink]="['/layout/updateticket', data.id]">
                                    <i class="bi bi-pencil-square  fa-2x"></i>
                                </a> &nbsp;
                                <a class=" btn1  bi bi-check " style="color:green" *ngIf="data.status == 'Disable'" (click)="EnableDisable(data.id,'Enable')"></a> &nbsp;
                                <a class=" btn1  bi bi-x  " style="color: red;" *ngIf="data.status == 'Enable'" (click)="EnableDisable(data.id,'Disable')"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    </div>
    </section>